<div class="container"><div class="row statcards">
	<div class="col-sm-12 col-lg-6 m-b">
		<div class="statcard statcard-success">
			<a ui-sref="addLayout.part1">
				<div class="p-a">
					<span class="statcard-desc">
						Crear layout de carga
						<br>
						<hr class="statcard-hr m-b-0">
					</span>
				</div>
			</a>
		</div>
	</div>

	<div class="col-sm-12 col-lg-6 m-b">
		<div class="statcard statcard-danger">
			<a href="#">
				<div class="p-a">
					<span class="statcard-desc">
						Actualizar layout de carga
						<br>
						<hr class="statcard-hr m-b-0">
					</span>
				</div>
			</a>
		</div>
	</div>

	<div class="col-sm-12 col-lg-6 m-b">
		<div class="statcard statcard-info">
			<a href="#">
				<div class="p-a">
					<span class="statcard-desc">
						Eliminar layout de carga
						<br>
						<hr class="statcard-hr m-b-0">
					</span>
				</div>
			</a>
		</div>
	</div>

	<div class="col-sm-12 col-lg-6 m-b">
		<div class="statcard statcard-warning">
			<a href="#">
				<div class="p-a">
					<span class="statcard-desc">
						Actualizar información del sistema
						<br>
						<hr class="statcard-hr m-b-0">
					</span>
				</div>
			</a>
		</div>
	</div>
</div></div>